.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  min-width: 40%;
  max-width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  /*left: 25%;
  top: 30%; */
  box-sizing: border-box;
  animation: animateModal 0.3s ease-in-out;
}

@keyframes animateModal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
