.modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  min-width: 40%;
  max-width: 60%;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  /*left: 25%;
  top: 30%; */
  box-sizing: border-box;
  animation: animateModal 0.3s ease-in-out;
}

@keyframes animateModal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Big tablets to 1200px */
@media only screen and (max-width: 1200px) {
  .modal {
    min-width: 60%;
    max-width: 80%;
  }
}

/* Small tablets to big tablets: 768 to 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets: 481 to 767px */
@media only screen and (max-width: 767px) {
  .modal {
    top: 30%;
    min-width: 80%;
    max-width: 90%;
  }
}

/* Small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
}
