.notification_container {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 20rem;
  height: 3rem;
  border-radius: 5px;
  border: 2px solid red;
  background-color: rgba(128, 128, 128, 0.356);
  justify-content: center;
  align-items: center;
  display: none;
}

.animation_in {
  display: flex;
  animation: anim_in 0.7s linear;
}

@keyframes anim_in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Big tablets to 1200px */
@media only screen and (max-width: 1200px) {
}

/* Small tablets to big tablets: 768 to 1023px */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets: 481 to 767px */
@media only screen and (max-width: 767px) {
  .notification_container {
    width: 90%;
    margin: 0 auto;
  }
}

/* Small phones: 0 to 480px */
@media only screen and (max-width: 480px) {
}
